%section#hero.hero-section.hero-layout-simple.hero-fullscreen.section.section-dark
  .section-background
    / IMAGE BACKGROUND
    .section-background-image.parallax.section-background-image-size{"data-stellar-ratio" => "0.4"}
      %img{:alt => "", :src => "assets/background/sf_from_above_dark.jpg", :style => "opacity: 1.0;", :class => "section-background-image-size"}/
  .container
    .hero-content
      .hero-content-inner
        .row
          .col-xs-5.col-xs-offset-3
            = form_tag sessions_path do
              %h1
                Sign In
              .form-group
                = label_tag :email
                = email_field_tag :email, nil, class: "form-control"
              .form-group
                = label_tag :password
                = password_field_tag :password, nil, class: "form-control"
              = submit_tag "Sign In", class: "btn btn-primary btn-lg", onclick: "ga('send', 'event', 'form', 'submited', 'user signin', '6')"

              #password_links.pull-right
                = link_to "Sign Up", signup_path, id: "signup"
                |
                = link_to "Forgot Password", request_password_path
