.row
  .col-md-12.mb40
    = button_to "Back to Property", user_property_path(@user, @property), class: "btn btn-primary btn-outline", method: :get

.row
  .col-lg-10
    .ibox.float-e-margins
      .ibox-title
        %h2
          Downloads
      .ibox-content
        .row
          .col-md-8
            %table.table
              %thead
                %tr
                  %th File name
                  %th Name
                  %th Email Address
              %tbody
                - @downloads.each do |download|
                  %tr
                    %td= download.disclosure.title
                    %td= "#{download.user.first_name} #{download.user.last_name}"
                    %td= link_to download.user.email, "mailto:#{download.user.email}"
