.row
  .col-lg-10
    .ibox.float-e-margins
      .ibox-title
        %h2
          Account Info
      .ibox-content
        .row
          = link_to "Update Account", edit_user_path(@user), class: "btn btn-primary ml10"

        %hr
        .row
          .col-md-8
            %h1
              %strong Subscription

            %h2
              %strong Level:
              - if @user.valid_subscription?
                Silver
                %br
                = link_to "Change", edit_user_subscription_path(@user, @subscription), class: "btn btn-primary mt10"
              - else
                None
                %br
                = link_to "Sign Up to Create Properties", new_user_subscription_path(@user), class: "btn btn-primary mt10"

        %hr
        .row
          .col-md-6
            %h1
              %strong Properties
            - if @user.valid_subscription? || @user.admin?
              %h2
                - if @user.properties.any?
                  %table.table
                    - @user.properties.each do |property|
                      %tr
                        %td
                          = link_to property.address, user_property_path(@user, property), class: "btn btn-primary btn-lg btn-outline btn-block"
                - else
                  You don't have any properties yet. Go add one!
                  %br
                  = link_to "Add a Property", new_user_property_path(@user), class: "btn btn-success mt10"
            - else
              %h2
                %i.fa.fa-warning
                You needs to sign up for a subscription first
