.row
  .col-lg-10
    .ibox.float-e-margins
      .ibox-title
        %h2
          Neighborhood Details
      .ibox-content
        .row
          .col-md-8
            = simple_form_for [@user, @property] do |f|
              = f.input :neighborhood_name, input_html: {placeholder: 'Jackson Sq Park'}
              = f.input :neighborhood_description, as: :text, input_html: {rows: 15, placeholder: 'Jackson Square Historic District retains its character as one of the oldest commercial neighborhoods in San Francisco. Though in some cases extensively altered during seismic retrofit, the collection of three story brick buildings found on the narrow streets and alleys offer a bright glimpse into the California Gold Rush that gave San Francisco its start. Buildings on the north side of Jackson between Montgomery and Sansome retain cast iron shutters as protection against fire, but when the city burned, in one case, a warehouses contents turned out to be more significant in saving the building'}
              = f.input :neighborhood_background_image_url, input_html: {placeholder: "http://goodtaste.tv/wp-content/uploads/2013/04/Cotogna-Building.jpg"}
              = f.button :submit, "Update Neighborhood"
