/
  HERO
  \=================================
%section#hero.hero-section.hero-layout-simple.hero-fullscreen.hero-slider.section.section-dark.hero-fullscreen-new-property-page
  %ul.section-slider.parallax
    / SECTION SLIDE 1
    %li.section-slide
      .section-background
        / IMAGE BACKGROUND
        .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
          %img{:alt => "", :src => "/assets/background/beach-home.jpg", :style => "opacity: 0.5;"}/
      .container.new-property-container
        .hero-content.parallax
          .hero-content-inner
            .row
              .col-md-6
                .hero-heading{"data-animation" => "fadeIn"}
                  %p.hero-tagline Property Details

                = simple_form_for @property do |f|
                  = f.input :address, input_html: {placeholder: '855 Front St'}
                  = f.input :city, input_html: {placeholder: 'San Francisco'}
                  = f.input :state, input_html: {placeholder: 'CA'}
                  = f.input :zip, input_html: {placeholder: '94111'}
                  = f.input :list_price, input_html: {placeholder: '$750,000'}
                  = f.input :sqfeet, input_html: {placeholder: '2300'}
                  = f.input :beds, input_html: {placeholder: '3'}
                  = f.input :baths, input_html: {placeholder: '2.5'}
                  = f.input :cars, input_html: {placeholder: '2'}
                  = f.input :garden, input_html: {placeholder: 'yes'}
                  = f.input :description, input_html: {placeholder: 'This place is the best home in the world. Located in a remote part of the country where no one comes'}
                  = f.input :matterport_url, input_html: {placeholder: 'https://my.matterport.com/models/chQ3jHCT4Hp'}
                  -# = f.input :video_walkthrough_url, input_html: {placeholder: 'https://dl.dropboxusercontent.com/s/0jjqtv1hkbncfnn/1394McAllisterWalkthrough.mp4'}
                  -# = f.input :tag_line, input_html: {placeholder: "You're Home"}
                  = f.input :agent_name, input_html: {placeholder: 'Tony Stark'}
                  = f.input :agent_phone, input_html: {placeholder: '415-666-4411'}
                  = f.input :agent_image_url, input_html: {placeholder: 'http://www.your-image-on-the-internet.jpg'}
                  = f.input :agent_company, input_html: {placeholder: 'Coldwell Banker'}
                  = f.input :agent_license, input_html: {placeholder: 'BRE #01271232'}
                  -# = f.input :agent_logo_url, input_html: {placeholder: 'yes'}

                  %br
                  = f.input :domain_type, label: 'Domain Type', as: :radio_buttons, :collection => [["Generic - Free", "generic"], ["Custom - $15", "custom"]], checked: "generic", item_wrapper_class: 'inline'
                  = f.input :domain, input_html: {placeholder: '855Front'}
                  .subdomain-addition
                    \.captivatelistings.com
                  .com-addition
                    \.com
                  = f.button :submit
              .col-md-6.domain-checker
                .domain-checker-text
                  Please ensure the domain is available
                <iframe style="width: 336px; height: 142px; overflow: hidden;" frameborder="0" scrolling="no" src="https://instantdomainsearch.com/widget/liquid/">
                </iframe>
                -# <iframe src="http://domaintyper.com/gadget.aspx?embed=1" width=210 height=180 frameborder=0></iframe>
%script
  $('#property_domain_type_custom').click(function() {
  $('.domain-checker').show();
  $('.subdomain-addition').hide();
  $('.com-addition').show();
  });

  $('#property_domain_type_generic').click(function() {
  $('.domain-checker').hide();
  $('.subdomain-addition').show();
  $('.com-addition').hide();
  });
