
.row
  .col-md-8
    %h1
      - if @property.disabled?
        %span.text-danger.fa.fa-warning.m-l-m Disabled
      %strong= @property.address
      = link_to "View Live Site", site_path(@property.site.id), target: "_blank", class: "btn btn-warning btn-lg btn-outline pull-right"
.row
  .col-lg-8
    .widget.yellow-bg.no-padding
      .p-m
        %h1.m-xs Address
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Address", edit_user_property_path(@user, @property, detail_section: "address"), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Property Details
        - if  @property.details && (@property.sqfeet || @property.list_price || @property.beds || @property.baths || @property.description)
          %table.table.fixed-width
            %tr
              %td.col-md-2
                %h3 List Price:
              %td
                %h3.weight-100= number_to_currency(@property.list_price, precision: 0)
            %tr
              %td.col-md-2
                %h3 Square Feet:
              %td
                %h3.weight-100= @property.sqfeet
            %tr
              %td.col-md-2
                %h3 Beds:
              %td
                %h3.weight-100= @property.beds
            %tr
              %td.col-md-2
                %h3 Baths:
              %td
                %h3.weight-100= @property.baths
            %tr
              %td.col-md-2
                %h3 Cars:
              %td
                %h3.weight-100= @property.cars
            %tr
              %td.col-md-2
                %h3 Garden:
              %td
                %h3.weight-100= @property.garden
            %tr
              %td.col-md-2
                %h3 Description:
              %td
                %h3.weight-100.lheight-23= @property.description
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Tageline:
            -#   %td
            -#     %h3.weight-100= @property.tag_line
            %tr
              %td.col-md-2
                %h3 Show Matterport 3D Model:
              %td
                %h3.weight-100= @property.matterport_status

            - if @property.matterport_status == "yes"
              %tr
                %td.col-md-2
                  %h3 Matterport URL:
                %td
                  %h3.weight-100
                    -# TODO Create helper method for this. It's being used a lot
                    - if @property.matterport_url && !@property.matterport_url.blank?
                      = @property.matterport_url
                    - else
                      %span.text-danger
                        %i.fa.fa-warning
                        Missing URL

            %tr
              %td.col-md-2
                %h3 Show Video Walkthrough:
              %td
                %h3.weight-100= @property.video_walkthrough_status

            - if @property.video_walkthrough_status == "yes"
              %tr
                %td.col-md-2
                  %h3 Video Walkthough URL:
                %td
                  %h3.weight-100
                    -# TODO Create helper method for this. It's being used a lot
                    - if @property.video_walkthrough_url && !@property.video_walkthrough_url.blank?
                      = @property.video_walkthrough_url
                    - else
                      %span.text-danger
                        %i.fa.fa-warning
                        Missing URL
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Highlights:
            -#   %td
            -#     %h3.weight-100= @property.details["highlights"]
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Showings:
            -#   %td
            -#     %h3.weight-100= @property.details["showings"]

          = link_to "Update Details", edit_user_property_path(@user, @property, detail_section: "property"), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Details", edit_user_property_path(@user, @property, detail_section: "property"), class: "btn btn-default mt20 btn-outline"
.row
  .col-lg-8
    .widget.lazur-bg.no-padding
      .p-m
        %h1.m-xs Agent
        - if @property.details && @property.agent_name
          %table.table.fixed-width
            %tr
              %td.col-md-2
                %h3 Name:
              %td
                %h3.weight-100= @property.agent_name
            %tr
              %td.col-md-2
                %h3 Phone:
              %td
                %h3.weight-100= number_to_phone(@property.agent_phone, area_code: true)
            %tr
              %td.col-md-2
                %h3 Company:
              %td
                %h3.weight-100= @property.agent_company
            %tr
              %td.col-md-2
                %h3 License #:
              %td
                %h3.weight-100= @property.agent_license
            %tr
              %td.col-md-2
                %h3 Website:
              %td
                %h3.weight-100= @property.agent_website
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Logo URL:
            -#   %td
            -#     %h3.weight-100= @property.agent_logo_url

          = link_to "Update Agent", edit_user_property_path(@user, @property, detail_section: "agent"), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Agent", edit_user_property_path(@user, @property, detail_section: "agent"), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.red-bg.no-padding
      .p-m
        %h1.m-xs Neighborhood
        - if @property.details && @property.neighborhood_name
          %table.table.fixed-width
            %tr
              %td.col-md-2
                %h3 Name:
              %td
                %h3.weight-100= @property.neighborhood_name
            %tr
              %td.col-md-2
                %h3 Description:
              %td
                %h3.weight-100.lheight-23= @property.neighborhood_description

          = link_to "Update Details", edit_user_property_path(@user, @property, detail_section: "neighborhood"), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Neighborhood", edit_user_property_path(@user, @property, detail_section: "neighborhood"), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.widget-border
      .p-m
        %h1.m-xs Property Photos
        - if @photos
          %ul#photos.photos-show-page{data: {update_url: sort_user_properties_url}}
            - @photos.each do |photo|
              = content_tag_for :li, photo do
                = image_tag photo.url, class: "handle"
                -# = photo.position

          -# TODO For some reason the s3_direct_upload is blocked when this is a regular link. But as a form it works
          - if @photos.any?
            = button_to "Edit Photos", user_property_photos_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
          - else
            = button_to "Add Photos", user_property_photos_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
.row
  .col-lg-8#background-images-container
    .widget.widget-border
      .p-m
        .col-md-12
          %h1.m-xs.mb20 Background Photos
        .col-md-12
          .col-md-4
            .panel.panel-default
              .panel-heading
                Header Section Background
              .panel-body
                = image_tag @property.main_background_image_url
          .col-md-4
            .panel.panel-default
              .panel-heading
                Neighborhood Section Background
              .panel-body
                = image_tag @property.neighborhood_background_image_url
          .col-md-4
            .panel.panel-default
              .panel-heading
                Contact Us Section Background
              .panel-body
                = image_tag @property.contact_background_image_url

        -# TODO For some reason the s3_direct_upload is blocked when this is a regular link. But as a form it works
        - if @property.main_background_image_url.blank? || @property.neighborhood_background_image_url.blank? || @property.contact_background_image_url.blank?
          = button_to "Add Photos", backgrounds_user_property_photos_path(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
        - else
          = button_to "Edit Photos", backgrounds_user_property_photos_path(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
