%h1
  %strong= @property.address
.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Address
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Address", edit_user_property_path(@user, @property), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Property Details
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Details", edit_user_property_path(@user, @property), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Agent
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Agent", edit_user_property_path(@user, @property), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Neighborhood
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Neighboorhood", edit_user_property_path(@user, @property), class: "btn btn-default mt20 btn-outline"
