.row
  .col-md-8
    %h1
      - if @property.disabled?
        %i.text-danger.fa.fa-warning.m-l-m
        Disabled
      %strong= @property.address
      = link_to "View Live Site", site_path(@property.site.id), target: "_blank", class: "btn btn-warning btn-lg btn-outline pull-right", onclick: "ga('send', 'event', 'link', 'clicked', 'view live site button', '4')"
.row
  .col-lg-8
    .widget.yellow-bg.no-padding
      .p-m
        %h1.m-xs Address
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Address", edit_user_property_path(@user, @property, detail_section: "address"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'update property address button', '4')"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Property Details
        - if  @property.details && (@property.sqfeet || @property.list_price || @property.beds || @property.baths || @property.description)
          %table.table.fixed-width
            %tr
              %td.col-md-2
                %h3 List Price:
              %td
                %h3.weight-100= number_to_currency(@property.list_price, precision: 0)
            %tr
              %td.col-md-2
                %h3 Square Feet:
              %td
                %h3.weight-100= @property.sqfeet
            %tr
              %td.col-md-2
                %h3 Beds:
              %td
                %h3.weight-100= @property.beds
            %tr
              %td.col-md-2
                %h3 Baths:
              %td
                %h3.weight-100= @property.baths
            %tr
              %td.col-md-2
                %h3 Cars:
              %td
                %h3.weight-100= @property.cars
            %tr
              %td.col-md-2
                %h3 Garden:
              %td
                %h3.weight-100= @property.garden
            %tr
              %td.col-md-2
                %h3 Tageline:
              %td
                %h3.weight-100= @property.tag_line.present? ? @property.tag_line : "YOU'RE HOME"
            %tr
              %td.col-md-2
                %h3 Description:
              %td
                %h3.weight-100.lheight-23= @property.description
            %tr
              %td.col-md-2
                %h3 Show Matterport 3D Model:
              %td
                %h3.weight-100= @property.matterport_status

            - if @property.matterport_status == "yes"
              %tr
                %td.col-md-2
                  %h3 Matterport URL:
                %td
                  %h3.weight-100
                    -# TODO Create helper method for this. It's being used a lot
                    - if @property.matterport_url && !@property.matterport_url.blank?
                      = @property.matterport_url
                    - else
                      %span.text-danger
                        %i.fa.fa-warning
                        Missing URL

            %tr
              %td.col-md-2
                %h3 Show Video Walkthrough:
              %td
                %h3.weight-100= @property.video_walkthrough_status

            - if @property.video_walkthrough_status == "yes"
              %tr
                %td.col-md-2
                  %h3 Video Walkthough URL:
                %td
                  %h3.weight-100
                    -# TODO Create helper method for this. It's being used a lot
                    - if @property.video_walkthrough_url && !@property.video_walkthrough_url.blank?
                      = @property.video_walkthrough_url
                    - else
                      %span.text-danger
                        %i.fa.fa-warning
                        Missing URL
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Highlights:
            -#   %td
            -#     %h3.weight-100= @property.details["highlights"]
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Showings:
            -#   %td
            -#     %h3.weight-100= @property.details["showings"]

          = link_to "Update Details", edit_user_property_path(@user, @property, detail_section: "property"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'update property details button', '4')"
        - else
          = link_to "Add Details", edit_user_property_path(@user, @property, detail_section: "property"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'add property details button', '5')"
.row
  .col-lg-8
    .widget.lazur-bg.no-padding
      .p-m
        %h1.m-xs Agent
        - if @property.details && @property.agent_name
          %table.table.fixed-width
            %tr
              %td.col-md-2
                %h3 Name:
              %td
                %h3.weight-100= @property.agent_name
            %tr
              %td.col-md-2
                %h3 Phone:
              %td
                %h3.weight-100= number_to_phone(@property.agent_phone, area_code: true)
            %tr
              %td.col-md-2
                %h3 Email:
              %td
                %h3.weight-100= @property.agent_email
            %tr
              %td.col-md-2
                %h3 Company:
              %td
                %h3.weight-100= @property.agent_company
            %tr
              %td.col-md-2
                %h3 License #:
              %td
                %h3.weight-100= @property.agent_license
            %tr
              %td.col-md-2
                %h3 Website:
              %td
                %h3.weight-100= link_to @property.agent_website, @property.agent_website, class: "white"
            %tr
              %td.col-md-2
                %h3 Facebook:
              %td
                %h3.weight-100= link_to @property.agent_facebook_url, @property.agent_facebook_url, class: "white" if @property.agent_facebook_url
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Logo URL:
            -#   %td
            -#     %h3.weight-100= @property.agent_logo_url

          = link_to "Update Agent", edit_user_property_path(@user, @property, detail_section: "agent"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'update agent details button', '4')"
        - else
          = link_to "Add Agent", edit_user_property_path(@user, @property, detail_section: "agent"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'add agent details button', '5')"

.row
  .col-lg-8
    .widget.yellow-bg.no-padding
      .p-m
        %h1.m-xs Neighborhood
        - if @property.details && @property.neighborhood_name
          %table.table.fixed-width
            %tr
              %td.col-md-2
                %h3 Name:
              %td
                %h3.weight-100= @property.neighborhood_name
            %tr
              %td.col-md-2
                %h3 Description:
              %td
                %h3.weight-100.lheight-23= @property.neighborhood_description

          = link_to "Update Details", edit_user_property_path(@user, @property, detail_section: "neighborhood"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'update neighborhood details button', '4')"
        - else
          = link_to "Add Neighborhood", edit_user_property_path(@user, @property, detail_section: "neighborhood"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'update neighborhood details button', '5')"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Custom Domain
        %table.table.fixed-width
          %tr
            %td.col-md-2
              %h3 URL:
            %td
              %h3.weight-100= @property.custom_domain ? @property.custom_domain : "None"
        = link_to "Update URL", edit_user_property_path(@user, @property, detail_section: "custom_domain"), class: "btn btn-default mt20 btn-outline", onclick: "ga('send', 'event', 'link', 'clicked', 'edit custom domain button', '5')"

.row
  .col-lg-8
    .widget.widget-border
      .p-m
        %h1.m-xs Property Photos
        - if @photos
          %ul#photos.photos-show-page{data: {update_url: sort_user_properties_url}}
            - @photos.each do |photo|
              = content_tag_for :li, photo do
                = image_tag photo.url, class: "handle", alt: "property photo"

        - if !@user.subscription || @user.subscription.level == 0
          %p
            Bronze plans have a 5 photo limit. Upgrade now to include unlimited photos.
        - if @photos.any?
          = button_to "Edit Photos", user_property_photos_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
        - else
          = button_to "Add Photos", user_property_photos_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
.row
  .col-lg-8#background-images-container
    .widget.widget-border
      .p-m
        .col-md-12
          %h1.m-xs.mb20 Background Photos
        .col-md-12
          .col-md-4
            .panel.panel-default
              .panel-heading
                Header Section Background
              .panel-body
                = image_tag @property.main_background_image_url
          .col-md-4
            .panel.panel-default
              .panel-heading
                Neighborhood Section Background
              .panel-body
                = image_tag @property.neighborhood_background_image_url
          .col-md-4
            .panel.panel-default
              .panel-heading
                Contact Us Section Background
              .panel-body
                = image_tag @property.contact_background_image_url


        - if @property.main_background_image_url.blank? || @property.neighborhood_background_image_url.blank? || @property.contact_background_image_url.blank?
          = button_to "Add Photos", backgrounds_user_property_photos_path(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
        - else
          = button_to "Edit Photos", backgrounds_user_property_photos_path(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8#background-images-container
    .widget.widget-border
      .p-m
        .col-md-12
          %h1.m-xs.mb20 Disclosures
        .col-md-12
          - if @disclosures
            - @disclosures.first(8).each do |disclosure|
              .col-sm-6.disclosure
                .widget.style1.navy-bg
                  .row
                    .col-xs-2
                      = link_to disclosure.url do
                        %i{:class => "fa fa-file-#{disclosure.file_type}-o fsize-85 file-icon"}
                    .col-xs-10.text-right
                      %span= link_to disclosure.title, disclosure.url
            - if @disclosures.count > 8
              .col-md-4.col-sm-6.disclosure
                .widget.style1.navy-bg
                  .row
                    .col-xs-2
                      %i{:class => "fa fa-file-text-o fsize-85 file-icon"}
                    .col-xs-10.text-right
                      %span= "All Disclosures"
                      %br
                      = link_to user_property_disclosures_url(@user, @property) do
                        %i.fa.fa-arrow-right.fsize-40

        - if @disclosures.any?
          = button_to "Edit Disclosures", user_property_disclosures_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
        - else
          = button_to "Add Disclosures", user_property_disclosures_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8#background-images-container
    .widget.widget-border
      .p-m
        .col-md-12
          %h1.m-xs.mb20 Downloads
        .col-md-12
          - if @downloads
            %table.table
              %thead
                %tr
                  %th File Name
                  %th Name
                  %th Email Address
              %tbody
                - @downloads.first(8).each do |download|
                  %tr
                    %td= download.disclosure.title
                    %td= "#{download.user.first_name} #{download.user.last_name}"
                    %td= link_to download.user.email, "mailto:#{download.user.email}"

        = button_to "View All Downloads", user_property_downloads_url(@user, @property), method: :get, class: "btn btn-default mt20 btn-outline"
