%h1
  %strong= @property.address
.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Address
        %hr
        %h3.font-bold.no-margins
          = @property.full_address

        = link_to "Update Address", edit_user_property_path(@user, @property, detail_section: "address"), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Property Details
        - if  @property.details && (@property.details["sqfeet"] || @property.details["list_price"] || @property.details["beds"] || @property.details["batsh"] || @property.details["description"])
          %table.table
            %tr
              %td.col-md-2
                %h3 List Price:
              %td
                %h3.weight-100= @property.details["list_price"]
            %tr
              %td.col-md-2
                %h3 Square Feet:
              %td
                %h3.weight-100= @property.details["sqfeet"]
            %tr
              %td.col-md-2
                %h3 Beds:
              %td
                %h3.weight-100= @property.details["beds"]
            %tr
              %td.col-md-2
                %h3 Baths:
              %td
                %h3.weight-100= @property.details["baths"]
            %tr
              %td.col-md-2
                %h3 Cars:
              %td
                %h3.weight-100= @property.details["cars"]
            %tr
              %td.col-md-2
                %h3 Garden:
              %td
                %h3.weight-100= @property.details["garden"]
            %tr
              %td.col-md-2
                %h3 Description:
              %td
                %h3.weight-100= @property.details["description"]
            %tr
              %td.col-md-2
                %h3 Tageline:
              %td
                %h3.weight-100= @property.details["tagline"]
            %tr
              %td.col-md-2
                %h3 Matterport URL:
              %td
                %h3.weight-100= @property.details["matterport_url"]
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Highlights:
            -#   %td
            -#     %h3.weight-100= @property.details["highlights"]
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Showings:
            -#   %td
            -#     %h3.weight-100= @property.details["showings"]
            -# %tr
            -#   %td.col-md-2
            -#     %h3 Video Walkthough URL:
            -#   %td
            -#     %h3.weight-100= @property.details["video_walkthrough_url"]

          = link_to "Update Details", edit_user_property_path(@user, @property, detail_section: "property"), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Details", edit_user_property_path(@user, @property, detail_section: "property"), class: "btn btn-default mt20 btn-outline"
.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Agent
        - if @property.details && @property.details["agent_name"]
          %table.table
            %tr
              %td.col-md-2
                %h3 Name:
              %td
                %h3.weight-100= @property.details["agent_name"]
            %tr
              %td.col-md-2
                %h3 Phone:
              %td
                %h3.weight-100= @property.details["agent_phone"]
            %tr
              %td.col-md-2
                %h3 Company:
              %td
                %h3.weight-100= @property.details["agent_company"]
            %tr
              %td.col-md-2
                %h3 License #:
              %td
                %h3.weight-100= @property.details["agent_license"]
            %tr
              %td.col-md-2
                %h3 Website:
              %td
                %h3.weight-100= @property.details["agent_phone"]
            %tr
              %td.col-md-2
                %h3 Logo URL:
              %td
                %h3.weight-100= @property.details["agent_logo_url"]
            %tr
              %td.col-md-2
                %h3 Headshot URL:
              %td
                %h3.weight-100= @property.details["agent_image_url"]

          = link_to "Update Agent", edit_user_property_path(@user, @property, detail_section: "agent"), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Agent", edit_user_property_path(@user, @property, detail_section: "agent"), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Neighborhood
        - if @property.details && @property.details["neighborhood_name"]
          %table.table
            %tr
              %td.col-md-2
                %h3 Name:
              %td
                %h3.weight-100= @property.details["neighborhood_name"]
            %tr
              %td.col-md-2
                %h3 Description:
              %td
                %h3.weight-100.lheight-23= @property.details["neighboorhood_description"]
          = link_to "Update Details", edit_user_property_path(@user, @property, detail_section: "neighborhood"), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Neighborhood", edit_user_property_path(@user, @property, detail_section: "neighborhood"), class: "btn btn-default mt20 btn-outline"

.row
  .col-lg-8
    .widget.navy-bg.no-padding
      .p-m
        %h1.m-xs Photos
        - if @photos
          %ul#photos{data: {update_url: sort_user_properties_url}}
            - @photos.each do |photo|
              = content_tag_for :li, photo do
                = image_tag photo.url, class: "handle"
                = photo.position
          = link_to "Add Photos", user_property_photos_path(@user, @property), class: "btn btn-default mt20 btn-outline"
        - else
          = link_to "Add Photos", user_property_photos_path(@user, @property), class: "btn btn-default mt20 btn-outline"
