!!! 5
%html(lang="en-US")
  %head
    %title Captivate Listings
    = stylesheet_link_tag    'guest_pages/guest', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'guest_pages/guest', 'data-turbolinks-track' => true
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicons.ico">
    <link rel="apple-touch-icon" type="image/png" href="/assets/apple-touch-icon.png">
    = csrf_meta_tags

  %body.enable-animations.enable-preloader
    #document.document
      = render "layouts/guest_pages/header"

      = yield

      = render "layouts/guest_pages/footer"
