!!! 5
%html.touch-styles.squarespace-damask{:itemscope => "", :itemtype => "http://schema.org/WebPage", :lang => "en-US", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraphprotocol.org/schema/", "xmlns:website" => "http://ogp.me/ns/website"}
  %head
    = render "layouts/site_pages/head"
    = csrf_meta_tags

  %body#collection-55f1b5bce4b0cc1b9222509b.nav-button-style-solid.nav-button-corner-style-square.banner-button-style-solid.banner-button-corner-style-square.banner-slideshow-controls-arrows.meta-priority-date.hide-entry-author.hide-list-entry-footer.hide-blog-sidebar.center-navigation--info.gallery-design-grid.aspect-ratio-auto.lightbox-style-light.gallery-navigation-bullets.gallery-info-overlay-show-on-hover.gallery-aspect-ratio-32-standard.gallery-arrow-style-no-background.gallery-transitions-fade.gallery-show-arrows.gallery-auto-crop.product-list-titles-under.product-list-alignment-center.product-item-size-11-square.product-image-auto-crop.product-gallery-size-11-square.show-product-price.show-product-item-nav.product-social-sharing.event-thumbnails.event-thumbnail-size-32-standard.event-date-label.event-date-label-time.event-list-show-cats.event-list-date.event-list-time.event-list-address.event-icalgcal-links.event-excerpts.event-item-back-link.opentable-style-light.newsletter-style-light.small-button-style-solid.small-button-shape-square.medium-button-style-solid.medium-button-shape-square.large-button-style-solid.large-button-shape-square.button-style-solid.button-corner-style-square.tweak-product-quick-view-button-style-floating.tweak-product-quick-view-button-position-bottom.tweak-product-quick-view-lightbox-excerpt-display-truncate.tweak-product-quick-view-lightbox-show-arrows.tweak-product-quick-view-lightbox-show-close-button.tweak-product-quick-view-lightbox-controls-weight-light.native-currency-code-usd.collection-type-index.collection-layout-default.collection-55f1b5bce4b0cc1b9222509b.homepage.view-list.mobile-style-available.has-banner-image.index-page
    %input#mobileNavToggle.mobile-nav-toggle-box.hidden{:name => "mobile-nav-toggle", :type => "checkbox"}/
    %a.body-overlay{:href => "#"}
    .sqs-announcement-bar-dropzone

    #siteWrapper.clearfix
      .sqs-cart-dropzone

      = render "layouts/site_pages/header"

      = yield

      = render "layouts/site_pages/footer"
