.container
  = image_tag attachments["captivatelogo.png"].url, style: "width: 250; margin-left: 39%;"

  -#Css classes are not being loaded. Premailer gem is supposed to handle
  .col-md-8.col-md-offset-2.mt50
    .panel.panel-success
      .panel-heading{style: "background-color: #2E2E3F !important; color: #999999"}
        .panel-title
          %h2.text-center Woot, someone just created a new property.
      .panel-body
        %h3.text-center Lets make sure it looks ok.
        = link_to site_url(@property), site_url(@property)

        %h3= "Thats #{Property.count} properties so far. Awesome!"
        %p
          %strong User:
          = @property.user.full_name
          %br
          %strong Agent:
          = @property.agent_name
          %br
          %strong Address:
          = @property.full_address
          %br


      .panel-footer
        %h5
        = link_to "Captivate Listings", "#", class: "blue underline text-center"
