#contact.index-section{"data-url-id" => "contact"}
  .promoted-gallery-wrapper
  .banner-thumbnail-wrapper.has-description{"data-content-field" => "main-image"}
    .color-overlay
    %figure#thumbnail.loading.content-fill
      / Contact Us Background Image
      %img{"src" => "#{@property.contact_background_image_url}", "class" => "section-background", "alt" => "contact_background_image", "data-image" => "#{@property.contact_background_image_url}", "data-src" => "#{@property.contact_background_image_url}", "data-image-dimensions" => "5616x3744", "data-image-focal-point" => "0.5,0.5"}
    .desc-wrapper{"data-collection-id" => "55f250a0e4b071d1ddffe28d"}
      %p
        %strong Contact Us
  .index-section-wrapper.page-content
    .content-inner.has-content{"data-content-field" => "main-content"}
      #page-55f1c0b3e4b0512272bbdbb2.sqs-layout.sqs-grid-12.columns-12{"data-type" => "page", "data-updated-on" => "1441944877147"}
        .row.sqs-row
          .col.sqs-col-12.span-12
            .row.sqs-row
              .col.sqs-col-4.span-4
                #block-dc7a788e4d471a84bd90.sqs-block.html-block.sqs-block-html{"data-block-type" => "2"}
                  .sqs-block-content
                    %h1 Let's Talk
                    %p Get in touch to learn more
                #block-yui_3_17_2_1_1410978958748_11721.sqs-block.socialaccountlinks-v2-block.sqs-block-socialaccountlinks-v2{"data-block-type" => "54"}
                  .sqs-block-content
                    %nav.sqs-svg-icon--list.social-icon-alignment-left.social-icons-color-black.social-icons-size-small.social-icons-shape-circle.social-icons-style-knockout
              .col.sqs-col-8.span-8
                #block-e2c45e2ab7f3bad09d65.sqs-block.form-block.sqs-block-form{"data-block-type" => "9"}
                  .sqs-block-content
                    %h1
                      = @property.agent_name
                    %h1
                      = number_to_phone(@property.agent_phone, area_code: true)
