/ Property Section
#property.index-section{"data-url-id" => "property"}
  .promoted-gallery-wrapper

  / Hero Area
  .banner-thumbnail-wrapper.has-description{"data-content-field" => "main-image"}
    .color-overlay
    %figure#thumbnail.loading.content-fill
      %img{"id" => "main-background", "src" => "#{@property.main_background_image_url}", "class" => "section-background", "data-image" => "#{@property.main_background_image_url}", "data-src" => "#{@property.main_background_image_url}", "data-image-dimensions" => "1844x1027", "data-image-focal-point" => "0.5,0.5" }/
    .desc-wrapper{"data-collection-id" => "55f2500fe4b0ce0cd8d12d02"}
      %p
        %strong Property Disabled
      %p
        This property has been diabled in the dashboard.
      %p
        = @property.address

  / Property Info Area
  .index-section-wrapper.page-content
    .content-inner.has-content{"data-content-field" => "main-content"}
      #page-55f1b5e5e4b048de91d5ac0e.sqs-layout.sqs-grid-12.columns-12{"data-type" => "page", "data-updated-on" => "1442001331793"}
        .row.sqs-row
          .col.sqs-col-12.span-12



            / Agent Detals Area
            #block-yui_3_17_2_10_1441907369577_13768.sqs-block.image-block.sqs-block-image.sqs-col-3.span-3.float.float-right{"data-block-type" => "5"}
              .sqs-block-content
                .image-block-outer-wrapper.layout-caption-below
                  .intrinsic{:style => "max-width:356.0px;"}
                    .image-block-wrapper.has-aspect-ratio{ :style => "padding-bottom:121.62921142578125%;" }
                      / Agent Image
                      %img{:src => "#{@property.agent_image_url}", "data-image-dimensions" => "356x433", "data-image-focal-point" => "0.5,0.5", "data-image-id" => "55f24e20e4b0c0afc4503208", "data-load" => "false", "data-type" => "image"}/
                    .image-caption-wrapper
                      .image-caption
                        - unless @property.agent_logo_url.blank?
                          %img.agent-logo{:alt => "", :src => @property.agent_logo_url}
                        - else
                          %p
                            %strong.agent-name
                              = @property.agent_name

                        %p.agent-details
                          = @property.agent_company
                          %br


            / Property Details Area
            #block-20d2d7d07ef691626788.sqs-block.html-block.sqs-block-html{"data-block-type" => "2"}
              .sqs-block-content
                %h1
                  - if @property.list_price
                    Purchase Price: ??

                  %br
                  %strong= "?? sqft"

                / property Description
                %p= truncate(@property.description, :length => 150, :separator => ' ')

              .row.sqs-row
                .col.sqs-col-2.span-2.home-icon-div
                  #block-yui_3_17_2_30_1441942307387_44722.sqs-block.image-block.sqs-block-image{"data-block-type" => "5"}
                    .sqs-block-content
                      .image-block-outer-wrapper.layout-caption-below
                        .intrinsic{:style => "max-width:117.0px;"}
                          .image-block-wrapper
                            %i.fa.fa-bed.home-icon
                          .image-caption-wrapper
                            .image-caption
                              %h1.home-icon-text= pluralize(@property.beds, 'Bed')
                .col.sqs-col-2.span-2.home-icon-div
                  #block-yui_3_17_2_10_1441907369577_43072.sqs-block.image-block.sqs-block-image{"data-block-type" => "5"}
                    .sqs-block-content
                      .image-block-outer-wrapper.layout-caption-below
                        .intrinsic{:style => "max-width:117.0px;"}
                          .image-block-wrapper.has-aspect-ratio{"data-description" => "<h1>   4 Bath</h1>"}
                            %span.glyphicon.glyphicon-tint.home-icon{"aria-hidden" => "true"}
                          .image-caption-wrapper
                            .image-caption
                              %h1.home-icon-text= pluralize(@property.baths, 'Bath')
                .col.sqs-col-8.span-8

            / Photo Gallery area
            .sqs-row
              .col-md-12
                .row.gallery-row
                  %a.col-sm-4.gallery-thumb-link{"data-gallery" => "multiimages", "data-toggle" => "lightbox", :href => "#{@photos.first.url}"}
                    %img.img-responsive{:src => "#{@photos.first.url}"}
                  %a.col-sm-4.gallery-thumb-link{"data-gallery" => "multiimages", "data-toggle" => "lightbox", :href => "#{@photos.last.url}"}
                    %img.img-responsive{:src => "#{@photos.last.url}"}


-# Best attempt to manage section background
:javascript
  var imageWidth = document.getElementById('main-background').naturalWidth;
  var divWidth = $('#property #thumbnail').width();

    if (imageWidth < divWidth) {
      console.log("image is narrower than div!")
      $('#main-background').css('width', "100%");
      $('#main-background').css('position', "relative");
      $('#main-background').css('bottom', "200px");
    } else if(imageWidth > divWidth) {
      console.log("image is wider than div!")
      $('#main-background').css('width', "100%");
    }
